.flowers-wrap {
    width: 23%;
    /* background-color: black; */
    min-width: 250px;
    border-right: 3px solid #D8D8D8;
    margin: 10px 0 10px 0;
    padding: 15px;
    /* display: none; */
}

.flower{
    animation: fadeInAnimation linear 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.results {
    width: 77%;
    padding: 10px;
    overflow: hidden;
}

.flower {
    background: #FFFFFF;
    width: 95%;
    height: 22%;
    min-height: 100px;
    max-height: 115px;
    border: 2px solid #B6B6B6;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.flower .locInfo {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 300;
}

.flower .locIcon {
    padding: 0;
}

.flower .location {
    margin: 0;
}

.filters {
    background-color: #F8F8F8;
    border: 2px solid #B4B4B4;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    line-height: 35px;
    margin-bottom: 10px;
    max-height: 60%;
    overflow-y: scroll;
    margin-top: 3px;
}

.ffilter, .ffilter1{
    display: none;
}

hr {
    border: 1px solid #B5B5B5;
    border-radius: 10px;
}

label {
    width: 100%;
    cursor: pointer;
}

.heading {
    margin: auto;
}

center {
    font-size: 28px;
    font-weight: 600;
}

#hospname {
    width: 80%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    border: 2px solid #D8D8D8;
    padding: 8px 20px 8px 20px;
}

.search {
    width: 100%;
    margin: 10px 0 15px 0;
    /* background-color: black; */
}

ul {
    list-style-type: none;
}

.location-selector {
    margin-bottom: 15px;
    padding-top: 0;
}

select {
    margin-top: 8px;
    margin-bottom: 11px;
    cursor: pointer;
}

.Select {
    font-size: 14px;
    margin-left: 2%;
    margin-bottom: 7px;
}

p {
    margin-bottom: 5px;
}

.container {
    background: #FFFFFF;
    width: 99.5%;
    height: 22%;
    min-height: 100px;
    max-height: 115px;
    border: 2px solid #B6B6B6;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container .locInfo {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 300;
}

.container .locIcon {
    padding: 0;
}

.container .location {
    margin: 0;
}

.clear {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #B4B4B4;
    background-color: #F8F8F8;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="checkbox"] {
    /* appearance: none;
    background-color: #F8F8F8;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #D1D1D1;
    border-radius: 4px; */
    transform: translateY(0.075em);
}

.docInfo {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-weight: 500;
    /* bottom: 0; */

}

.docImg {
    width: 30%;
    min-width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.book {
    background: #66ADFF;
    border-radius: 5px;
    font-weight: 600;
    width: 25%;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 13px 12px;
    border: none;
    margin: 0 20px;
    cursor: pointer;
}

.edu {
    color: #838383;
    font-weight: 300;
    font-size: 12px;
    display: inline;
    white-space: nowrap;
}

.location {
    color: #838383;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.Name {
    font-weight: 600;
    font-size: 18px;
    display: inline;
    margin-bottom: 5px;
}

.hospitals {
    height: 77%;
    overflow-y: scroll;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bebebe;
}

.cross{
    transform: translateY(0.26em);
    margin-right: 8px;
}

@media screen and (max-width: 650px){
    center{
        font-size: 20px;
    }
    .flowers-wrap{
        display: none;
    }
    .results{
        width: 100%;
    }
    .flower{
        flex-direction: column;
    }
    .search{
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
    }
    .flower{
        max-height: none;
        /* height: 200px; */
    }
    .docImg {
        width: 100%;
        border-radius: 8px 8px 0 0;
      }
      .book{
        width: 150px;
        margin: 20px 0;
      }

}