@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
#cross{
    display: none;
}

/* HIDDEN FOR DESKTOP */
#appointment-box {
    animation: fadeInAnimation ease-in-out 0.3s;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#content-box {
    animation: fadeInAnimation ease-in-out 0.3s;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#menu {
    display: none;
}

#mobmenu {
    display: none;
}

.secured {
    display: none;
}

.desk {
    display: block;
}

.mob {
    display: none;
}

/* ---------------------------------------------------------- */

body {
    background: #CDE4FF;
}

#tilted-box {
    background: #B0D5FF;
    position: absolute;
    width: 200%;
    height: 115%;
    left: -30%;
    top: -40%;
    transform: rotate(-13.16deg);
}

#box-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#nav-contents ul {
    list-style: none;
}

#nav-contents li {
    display: inline;
    padding: 25px 35px;
}

#nav-contents a {
    text-decoration: none;
    color: #2E2E2E;
    font-weight: 554;
}

nav {
    width: 100%;
    height: 65px;
    background: #F8F8F8;
    position: fixed;
    z-index: 10;
    /* display: flex; */
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bebebe;
}

.nvlogo {
    height: 65px;
    /* background-color: red; */
    width: 75px;
}

#nav-contents {
    display: flex;
    flex-direction: row;
    max-width: 1350px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0px 50px;
}

#nav-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 75px;
}

#content {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 35px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    min-height: 20px;
    max-height: 43px;
    background: #F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    font-weight: 400;
    color: #717171;
}

#footer-list li {
    list-style: none;
    display: inline;
    padding: 0px 22px;
}

#footer-list svg {
    fill: #717171;
    width: 20px;
    height: 20px;
}

#footer-list a {
    text-decoration: none;
}



@media screen and (max-width: 650px) {
    #menu {
        display: block;
        width: 40px;
        height: 40px;
    }

    #nav-links {
        display: none;
    }

    nav {
        /* height: 75px; */
    }

    #nav-contents {
        padding: 0 15px;
    }

    #content {
        padding-top: 27px;
    }

    #mobmenu {
        display: none;
        z-index: 100;
    }

    .moblink {
        z-index: 100;
        width: 100%;
        height: 75px;
        text-align: center;
        color: black;
        background-color: white;
        padding-top: 26px;
    }

    #mobmenu a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    #blackbox {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
        width: 100%;
        height: calc(100% - 290px);
        bottom: 0;
    }

    nav {
        z-index: 100;
    }

    #nav-logo {
        /* height: 75px; */
        width: 75px;
    }

    #footer p {
        font-size: 10px;
    }

    #footer-list {
        display: none;
    }

    .secured {
        display: flex;
        font-size: 10px;
        float: right;
        white-space: nowrap;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }

    .secured svg {
        margin: 3px;
    }

    .mob {
        display: block;
    }

    .desk {
        display: none;
    }

    #content {
        margin-bottom: 0px;
        padding: 20px;
    }
}