body {
    background-color: #9dc1e9;
    background-size: cover;
}


    
.active {
    background-color: rgb(117, 116, 116);
    
}
footer{
    /*position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(248, 245, 245);
    color: #717171;
    text-align:left;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 554;
font-size: 18px;
line-height: 22px;*/
position: absolute;
width: 342px;
height: 23px;
left: 22px;
top: 685px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align:end;

color: #717171;



    

    }
        
              
    .darker {
     position: fixed;
     top: 120%;
     left: 0%;
     width: 150%;
     height: 210%;
     background: #bbd5f3;
     z-index: -1;
     -webkit-transform: rotate(6deg);
             transform: rotate(75deg);
    }
    .bi bi-twitter{
        position: absolute;
left: 9.18%;
right: 7.46%;
top: 24.71%;
bottom: 17.55%;

border: 2px solid #717171;
    }
    .bi bi-facebook{
        position: absolute;
left: 29.81%;
right: 24.34%;
top: 21.47%;
bottom: 13.7%;

border: 2px solid #717171;
    }
    .bi bi-whatsapp{
        position: absolute;
left: 13.24%;
right: 11.69%;
top: 21.53%;
bottom: 13.64%;

border: 2px solid #717171;
    }
    .img{
        width: 1137px;
height: 513px;
left: 68px;
top: 111px;
z-index: -1;

background: #EBF2FA;
box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 8px;

    }
    .h1{
        font-family:'poppins';
        font-style: normal;
        font-weight: 600px;
        font-size: 44px;
        line-height: 66px;
        position: absolute;
        width: 424px;
        height: 66px;
        left: 428px;
        top: 175px;
        text-align: center;
         
    }
    .p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 30px;
text-align: center;

color: #434343;

    }
    .submit-btn{
        width:30%;
        padding: 10px 10px;
        cursor: pointer;
        display: block;
        margin: auto;
        
        
        float: left;
    
        outline: none;
        border: 2px;
        color: white;
       
        
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #66ADFF;
        color: #66ADFF;
border-radius: 8px;


      }
      