.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    background: #F8F8F8;
    text-align: center;
    line-height: 43px;
    font-weight: 554;
    font-size: 16px;
    color: #717171;
}

.footer a {
    text-decoration: none;
    color: #717171;
}

#content-box {
    width: 90%;
    height: 80vh;
    max-height: 800px;
    margin: auto;
    margin-top: 60px;
    z-index: 100;
    background-color: #F8F8F8;
    border-radius: 8px;
    box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.text {
    width: 62.5%;
    display: flex;
    flex-direction: column;
}

.graphic {
    position: relative;
    width: 37.5%;
    background-color: #282828;
}

.img {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    margin: auto;
}

.changer {
    height: 13%;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #A2A2A2;
}

span {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.signin {
    display: inline;
    margin: 4%;
    font-size: 12px;
    cursor: pointer;
}

.signup {
    display: inline;
    margin: 4%;
    font-size: 12px;
    cursor: pointer;
}

.form {
    height: 100%;
    padding-top: 40px;
    overflow-y: scroll;
}

.actived {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #101010;
    border-bottom: 2px solid #101010;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #101010;
    text-align: center;
    align-items: center;
}

.form-contents {
    height: 100%;
    width: 60%;
    margin: auto;
    padding-top: 6%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.fields {
    display: block;
    background: #F1F1F5;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    margin-bottom: 10%;
    text-indent: 15px;
    margin-top: 0.4%;
    font-size: 14px;
    font-weight: 400;
}

input:focus {
    outline: none;
}

::placeholder {
    /* font-style: italic; */
    font-weight: 200;
    font-size: 14px;
    line-height: 15px;
}

#signin-btn {
    border: none;
    background-color: #66ADFF;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

#signup-btn {
    border: none;
    background-color: #66ADFF;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: 6%;
    cursor: pointer;
}

.signin-button {
    text-align: center;
}

.doctor-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 3%;
}

.doctor-prompt {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #0094FF;
}

.password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgot {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #0094FF;
}

.name {
    display: flex;
}

.field {
    background: #F1F1F5;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 97%;
    height: 46px;
    text-indent: 15px;
    margin-top: 0.8%;
    font-size: 12px;
    font-size: 400;
    margin-bottom: 16px;
}

#lName {
    margin-right: 10px;
}

.number {
    display: flex;
}

#country-code,
#pNumber {
    margin-right: 5px;
    background: #F1F1F5;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    height: 46px;
    text-indent: 15px;
    width: 99%;
    margin-bottom: 8px;
    margin-top: 0.8%;
    font-size: 12px;
    font-size: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.tnc {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    display: flex;
}

#TnC {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 3px;
    background: #f1f1f5;
    border: 2px solid #DCDCDC;
    border-radius: 5px;
    cursor: pointer;
}

#TnC:checked {
    background: #46bbffee;
    padding: 5px;
}

.tnC {
    text-decoration: none;
    font-size: 12px;
    padding: 0px 3px;
    color: #0094FF;
}



[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

#signin {
    animation: fadeIn 0.47s;
}

#signup {
    animation: fadeIn 0.47s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 650px){
    .graphic{
        display: none;
    }
    .text{
        width: 100%;
        /* padding-top: 10%; */
    }
    .form-contents{
        width: 85%;
        padding-top: 10%;
    }
    #content-box{
        width: 100%;
        height: 78vh;
    }
    .changer{
        height: 10%;
    }
    .form{
        padding-top: 30px;
    }
    .name{
        display: block;
    }
    .footer, .footer a{
        font-size: 12px;
    }
}