body{
  background-color: #9dc1e9;
  background-size: cover;
}
  
.active{
  background-color: rgb(117, 116, 116);   
}
.darker{
  position: fixed;
  top: 120%;
  left: 0%;
  width: 150%;
  height: 210%;
  background: #bbd5f3;
  z-index: -1;
  -webkit-transform: rotate(6deg);
  transform: rotate(75deg);
}
ul{
  list-style-type: none;
  margin: 0%;
  padding: 0;
  overflow: hidden;
  background-color: white;      
}      
li{
  float: right;
  left: auto;
  top: -1%;
  font-size: 18px;
}
li a{
  display: block;
  color: rgb(12, 12, 12);
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
.container{
  position: relative;
}
.white-box{
  position: absolute;
  z-index: -1; 
  background: white;
  height: 500px;  
  width: 75%;
  left: 10%;
  top: 15px;
  border-radius: 0.5%;
  box-shadow: 3px;
  overflow: hidden;      
}
.overflow{
  background-color: rgb(60, 60, 60);
  width: 25%;
  top: 88px;
  height: 498px;
  float:none;
  border: 1px solid;
  overflow: left;
  bottom: 15px;
  left:118px ;
  position:absolute;      
}
#id2{
  text-align: right;
  float: right;
}
.h5{
  text-align: left; 
  right: 70%;
}
.text{
  float: right;     
}

.h2{
  /*font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 100px;*/
  position: absolute; 
  width: 236px;
  height: 24px;
  right: 315px;
  top: 193px;
  float: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: right;
}
.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
  margin: 10px;
  float: left;
  /*box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 46px;
  left: 649px;     
  top: 200px;
  background: #F1F1F5;
  border: 1px solid #D3D3D3;
  border-radius: 8px;*/
}
.input-field{
  width: 90%;
  padding: 10px 0;
  margin: 5px 0px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid#999;
  outline: none;
  border: 2px solid #D3D3D3      
}
.submit-btn{
  width:50%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #999;      
  float: left;  
  outline: none;
  border: 2px;
  color: black;
  background: #F1F1F5;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  box-sizing: border-box;
}
footer{
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(248, 245, 245);
  color: #717171;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 554;
  font-size: 18px;
  line-height: 22px;   
}
      
