#appointment-box {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 800px;
    margin: auto;
    margin-top: 60px;
    background: #EBF2FA;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
}

select {
    margin: 0px 20px;
    padding: 8px 18px;
    background: #F1F1F5;
    border: 1px solid #E0E0E1;
    border-radius: 8px;
}




.location-selector {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-top: 2%;
}


.text{
    width: 108px;
height: 24px;
left: 26px;
top: 2px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
    position: relative;

}


.top h1{
    position: absolute;
    width: 250px;
height: 30px;
left: 573px;
top: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 21px;

text-align: center;
letter-spacing: 0.02em;

color: #000000;
}
::placeholder{
        
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    top: 30px;
    left: 500px;

}
.search{


       top: 5px;
       left: 650px;
       
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      border: 4px;
      font-size: 17px;
      }
.line{
    position: absolute;
width: 480px;
height: 0px;
left: 303px;
top: 50px;

border: 1px solid #D8D8D8;
transform: rotate(90deg);

}      
   
  
   /*
#Book {
    display: block;
    margin: auto;
    margin-top: 4%;
    padding: 10px 25px;
    background: #66ADFF;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.booklink{
    text-decoration: none;
    color: white;
}
.image1 {
    width: 100%;
    height: 45%;
}
.text h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    text-align: right;
    padding-right: 50%;
}
#container1 {
    position: relative;
    width: 58%;
    height: 95px;
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    border:1px solid #B6B6B6;
    left: 18%;
}
.text h5{


    position: relative;
     font-weight: 400;
     font-size: 9px;
     line-height: 36px;
     margin: auto;
     text-align: left;
     color: #838383;
     text-indent: 15px;
 }
 .p1 {
     word-spacing: 2px;
     position: relative;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 20px;
     margin:auto;
     text-align: right;
     color: #838383;
     padding-right:200px;
 }
 .p2 {
     position: relative;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 20px;
     margin: auto;
     text-align: left;
     color: #838383;
     padding-right:370px;
 }
 .text h6 {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    margin: auto;
    color: #000000;
    float: left;
    padding-left: 22%;
}
.signin {
    display: inline;
    font-size: 12px;
    cursor: pointer;
}
.signin-button {
    padding-top: 2.5%;
    text-align:absolute;
    float: right;
    padding-right: 4%;
}
#signin-btn {
    position: relative;
    border: none;
    background-color: #66ADFF;
    border-radius: 8px;
    padding: 15px 30px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}*/
/*#appointment-box {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 800px;
    margin: auto;
    margin-top: 60px;
    background: #EBF2FA;
    border-radius: 8px;
    box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
}

#banner {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 8px;
}

.text {
    text-align: center;
    position: relative;
}

.text h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    margin: auto;
    padding-top: 6%;
}

.text h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    margin: auto;
    padding-top: 4%;
}

.location-selector {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 4%;
}

#Book {
    display: block;
    margin: auto;
    margin-top: 4%;
    padding: 10px 25px;
    background: #66ADFF;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.booklink{
    text-decoration: none;
    color: white;
}

select {
    margin: 0px 20px;
    padding: 8px 18px;
    background: #F1F1F5;
    border: 1px solid #E0E0E1;
    border-radius: 8px;
}
.graphic {
    position:fixed;
    top: 11.2%;
    width: 30%;
    background-color:#FFFFFF;
    height: 570px;
    border-radius: 8px 0px 0px 8px;
}
.text h1 {
    font-weight: 600;
    font-size: 27px;
    line-height: 66px;
    margin: auto;
    padding-top: 2%;
    text-align: right;
    padding-right: 20%;
}
.text h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    text-align: right;
    padding-right: 50%;
}
.image1 {
    width: 100%;
    height: 45%;
}
.text h2 {
    font-weight: 550;
    font-size: 23px;
    line-height: 40px;
    margin: auto;
    text-align: left;
    padding-left: 20px;
}
.text h3{
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    margin: auto;
    text-align: left;
    padding-left: 20px;
    color: #838383;
}
#container1 {
    position: relative;
    width: 58%;
    height: 95px;
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    border:1px solid #B6B6B6;
    left: 18%;
}
.image2 {
    position: fixed;
    width: 10%;
    height: 13%;
    object-position:left top;
    right: 49.7%;
}
.text h6 {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    margin: auto;
    color: #000000;
    float: left;
    padding-left: 22%;
}
.text h5{


   position: relative;
    font-weight: 400;
    font-size: 9px;
    line-height: 36px;
    margin: auto;
    text-align: left;
    color: #838383;
    text-indent: 15px;
}
.p1 {
    word-spacing: 2px;
    position: relative;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 20px;
    margin:auto;
    text-align: right;
    color: #838383;
    padding-right:200px;
}
.p2 {
    position: relative;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 20px;
    margin: auto;
    text-align: left;
    color: #838383;
    padding-right:370px;
}
.signin {
    display: inline;
    font-size: 12px;
    cursor: pointer;
}
.signin-button {
    padding-top: 2.5%;
    text-align:absolute;
    float: right;
    padding-right: 4%;
}
#signin-btn {
    position: relative;
    border: none;
    background-color: #66ADFF;
    border-radius: 8px;
    padding: 15px 30px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}